table, th, td {
    border: 1px solid black;
}

.entity-area {
    border: 1px solid black;
    margin: 10px 0px;
    width: 500px;
}

#error-field {
    color: red;
}

.users-pages_list-item {
    display: inline-block;
    margin-left: 5px;
}

.users-pages_list-item_current {
    color: red;
}